%h1 Login 
%form(class="form-vertical" method="post")
  .controls
    %input(type="text" class="span3" placeholder="Username") 
  .controls
    %input(type="text" class="span3" placeholder="Email address") 
  .controls
    %label(class="radio")
      %input(type="radio" name="optionRadios" value="option1" checked)
      I am a member of the public
    %label(class="radio")
      %input(type="radio" name="optionRadios" value="option2")
      I am a member of the Parliament
  .controls
    %button(type="submit" class="btn btn-large btn-primary")Sign up
    %button(type="submit" class="btn btn-large")Or log in with Twitter
    