<h1>Login</h1>
<form class='form-vertical' method='post'>
  <div class='controls'>
    <input class='span3' name='username' placeholder='Username' type='text' />
  </div>
  <div class='controls'>
    <input class='span3' name='email' placeholder='Email address' type='text' />
  </div>
  <div class='controls'>
    <label class='radio'>
      <input checked='checked' name='type' type='radio' value='option1' />
      I am a member of the public
    </label>
    <label class='radio'>
      <input name='type' type='radio' value='option2' />
      I am a member of the Parliament
    </label>
  </div>
  <div class='controls'>
    <button class='btn btn-large btn-primary' type='submit'>Sign up</button>
    <button class='btn btn-large' type='submit'>Or log in with Twitter</button>
  </div>
</form>